@import "tailwindcss" important;

@import "./_vocs.generated.css";

@source "../";

@custom-variant dark (&:where(
		[style*="color-scheme: dark"],
		[style*="color-scheme: dark"] *
	));

[data-v-callout-icon] {
	margin-top: 0.2rem;
}

/* Smaller header logo */
[data-v-logo] img {
	height: 24px;
}

[data-v-gutter-top] nav a[data-v-active="true"] {
	border-color: light-dark(var(--vocs-color-accent), var(--vocs-color-accent8));
	color: light-dark(var(--vocs-color-accent), var(--vocs-color-accent8));
}

[data-v-outline-items] a[data-active="true"] {
	color: light-dark(var(--vocs-color-accent), var(--vocs-color-accent8));
}

[data-v-outline-indicator] {
	background-color: light-dark(
		var(--vocs-color-accent),
		var(--vocs-color-accent8)
	);
}

[data-v-step-content] {
	:where(& > :not(:last-child)) {
		--tw-space-y-reverse: 0;
		margin-block-start: calc(
			calc(var(--vocs-spacing) * 4) *
			var(--tw-space-y-reverse)
		);
		margin-block-end: calc(
			calc(var(--vocs-spacing) * 4) *
			calc(1 - var(--tw-space-y-reverse))
		);
	}
}

[data-layout="minimal"] main > article {
	max-width: 1400px;
}

/* Force dark mode on landing page to prevent flash */
[data-layout="minimal"] {
	color-scheme: dark;
	background-color: var(--vocs-color-gray2);
}
